.event a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.breadcrumb a {
    color: #0f7c8d;
    text-decoration: none;
    font-size: 10.5pt;
    font-weight: 600;
}

.breadcrumb {
    font-size: 10.5pt;
    margin-top: 20px;
    font-weight: 600;
} 

.dtl-header {
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "img info";
}

.dtl-img {
grid-area: img;
width: auto;
}

.dtl-info {
    grid-area: info;
    margin-left: 30px;
    margin-top: -20px;
    font-size: 10pt;
}

.dtl-img img {
    width: 600px;
}

.dtl-name h2{
    font-weight: 800;
    margin-bottom: 40px;
}

.dtl-buttons {
    margin-top: 20px;
}

.dtl-btn {
    color: white;
    background-color: #ff3b41;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.dtl-caption {
    margin-bottom: 10px;
}

.dtl-about {
    margin-bottom: 30px;
}
/* ----modal---- */

.dlt-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.dlt-modal-hidden {
    display: none;
}

.dlt-modal-content {
    background-color: white;
    margin: 0 auto;
    width: 25%;
    height: max-content;
    padding: 20px 50px 50px 50px;
    overflow: auto;
    border: 0;
    border-radius: 10px;
}